#roluette-bar {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 11rem;
    gap: 2rem;
    justify-content: center;
}

#roluette-bar p {
    position: absolute;
    width: 10rem;
    height: 10rem;
    font-size: 8rem;
    text-align: center;
}

#roluette-pointer
{
    margin: auto;
    width: 20px;
    height: 100px;
    background-color: white;
}